@import "../valo/valo";
@import "common";

// Optimize the CSS output
//$v-included-components: remove($v-included-components, accordion);
//$v-included-components: remove($v-included-components, colorpicker);
//$v-included-components: remove($v-included-components, grid);
//$v-included-components: remove($v-included-components, popupview);
//$v-included-components: remove($v-included-components, progressbar);
//$v-included-components: remove($v-included-components, slider);
//$v-included-components: remove($v-included-components, splitpanel);
//$v-included-components: remove($v-included-components, tree);
//$v-included-components: remove($v-included-components, treetable);
//$v-included-components: remove($v-included-components, twincolselect);

// Main layout padding
//$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
//$valo-menu-background-color: #414B56;

// no focus around buttons
//$v-focus-style: none;


@mixin tender {
  @include valo;
  @include tender-common;

}